.container {
  position: absolute;
  width: 600px;
  height: 290px;
}

.instructions {
  position: relative;
  width: 600px;
  height: 63px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  height: 90 0.7px;
  text-align: center;
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 )";
}

.instructionsFooter {
  position: relative;
  width: 600px;
  height: 27px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  height: 27px;
  text-align: center;
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 )";
}

.containerHiraganaTrivia {
  position: relative;
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.hiraganaCardContainer {
  width: 300px;
  height: 200px;
  display: inline-flex;
}

.containerRight {
  width: 300px;
  height: 200px;
  display: inline-flex;
  background: #b4ddb4;
  background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: -webkit-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0)";
}

.buttonHard {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 75%;
  top: 20%;
  transform: translate(-50%, -50%);
  border: 1px solid #72021c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background-color: #a90329;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
  background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
  background-image: -moz-linear-gradient(top, #a90329, #6d0019);
  background-image: -ms-linear-gradient(top, #a90329, #6d0019);
  background-image: -o-linear-gradient(top, #a90329, #6d0019);
  background-image: linear-gradient(to bottom, #a90329, #6d0019);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019)";
}
.buttonHard:hover {
  border: 1px solid #450111;
  background-color: #77021d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
  background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
  background-image: -moz-linear-gradient(top, #77021d, #3a000d);
  background-image: -ms-linear-gradient(top, #77021d, #3a000d);
  background-image: -o-linear-gradient(top, #77021d, #3a000d);
  background-image: linear-gradient(to bottom, #77021d, #3a000d);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d)";
}

.buttonMedium {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffad41;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background-color: #ffc579;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
  background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
  background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
  background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
  background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
  background-image: linear-gradient(to bottom, #ffc579, #fb9d23);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23)";
}
.buttonMedium:hover {
  border: 1px solid #ff9913;
  background-color: #ffaf46;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
  background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
  background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
  background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
  background-image: -o-linear-gradient(top, #ffaf46, #e78404);
  background-image: linear-gradient(to bottom, #ffaf46, #e78404);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404)";
}

.buttonEasy {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 75%;
  top: 80%;
  transform: translate(-50%, -50%);
  border: 1px solid #34740e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  -blocktext-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background-color: #4ba614;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
  background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
  background-image: -moz-linear-gradient(top, #4ba614, #008c00);
  background-image: -ms-linear-gradient(top, #4ba614, #008c00);
  background-image: -o-linear-gradient(top, #4ba614, #008c00);
  background-image: linear-gradient(to bottom, #4ba614, #008c00);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00)";
}
.buttonEasy:hover {
  border: 1px solid #224b09;
  background-color: #36780f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
  background-image: -webkit-linear-gradient(top, #36780f, #005900);
  background-image: -moz-linear-gradient(top, #36780f, #005900);
  background-image: -ms-linear-gradient(top, #36780f, #005900);
  background-image: -o-linear-gradient(top, #36780f, #005900);
  background-image: linear-gradient(to bottom, #36780f, #005900);
  filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900)";
}

/*# sourceMappingURL=hiraganaTrivia.css.map */
